body {
  background-color: #191834;
  font-family: Helvetica, Arial, sans-serif;
  color: #56afbd;
}

a {
  color: #7cd7c6;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #61bdaf;
}
.container {
  background-color: #30315d;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 50px;
}

form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #61bdaf;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 10px;
  padding: 14px 24px;
}
.hidden {
  display: none;
}
.poem {
  font-size: 16px;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #7cd7c6;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
